{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content%}

<form action="" method="post">
  <p>
    {{form.csrf_token}}
    {{form.username.label}} {{form.username()}} <br>
    {{form.email.label}} {{form.email()}} <br>
    {{form.password.label}} {{form.password()}} <br>
    {{form.confirm.label}} {{form.confirm()}} <br>

    {{form.milk_allerg.label}} {{form.milk_allerg()}} <br>
    {{form.peanut_allerg.label}} {{form.peanut_allerg()}} <br>
    {{form.soybeans_allerg.label}} {{form.soybeans_allerg()}} <br>
    {{form.wheat_allerg.label}} {{form.wheat_allerg()}} <br>
    {{form.egg_allerg.label}} {{form.egg_allerg()}} <br>
    {{form.fish_allerg.label}} {{form.fish_allerg()}} <br>
    {{form.shellfish_alleg.label}} {{form.shellfish_alleg()}} <br>

    {{form.accept_tos.label}} {{form.accept_tos()}} <br>
    {{form.submit()}} <br>
  </p>
</form>



{% endblock %}
