<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript">
        function nextImage(){
        $.ajax({
            url: '/nextImage',
            type: "GET",
            dataType: "json",
            success: function (data) {
                document.getElementById("displayImage").src = data.value
                document.getElementById("contentImage").src = data.value
                document.getElementById("content").innerHTML = data.summary

                var stringVal = "Ingredients: "

                for (var i = 0, emp; i < data.ingredients.length; i++) {
                    emp = data.ingredients[i]["name"];
                    stringVal = stringVal+emp+","
                }
                stringVal = stringVal.slice(0,-1)
                document.getElementById("ingredients").innerHTML = stringVal
            },
            error: function (error) {
                console.log(error);
            }
        });
        }
        function openModal(){
            document.getElementById("myModal").style.display = "block"
        }
        function closeModal(){
            document.getElementById("myModal").style.display = "none"
        }
        window.onclick = function(event) {
          if (event.target == document.getElementById("myModal")) {
            document.getElementById("myModal").style.display = "none";
            }
        }


         </script>

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<!-- 
{% if name %}
<h1>Hello, {{name}}!</h1>
{% endif %} -->
<h2>Picture credits: @ AaronWu</h2>
<div class="wrapper">
  <div class="static-txt"> Cook to Your Heart's</div>
  <ul class="dynamic-txts">
    <li><span>Desire</span></li>
  </ul>
</div>
<img class="foodImg" src="{{url_for('static', filename='0.png')}}"/>
{% endblock %}
