{% extends "base.html" %}
{% block meta %}
{% endblock %}
{% block title %}Swipe{% endblock %}


{% block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}">
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->

<div class="card" style="width: 18rem;">
  <img class="card-img-top" onclick="openModal()" src="{{recipe.image}}" class="card-img-top" alt="Card image cap">
      <div class="quotes">
    </div>
  <button onclick="window.open('{{recipe.source_url}}');" class = "btn btn-success" style="font-size: 10px"> Read More!  </button>
  <div class="card-body">
    <h5 href="{{recipe.source_url}}" class="card-title">{{recipe.title}}</h5>
    <p class="card-text">{{recipe.description}}</p>
  </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <p> {{recipe.summary}} </p>
  </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span onclick="closeModal()" class="close">&times;</span>
    <img id="contentImage" height="500" width="700" src="{{recipe.image}}" />
    <p id="content">Description: {{recipe.summary}}</p>
    <p id="ingredients">Ingredients: {{ingredients}}</p>

  </div>

</div>

<div id="instructions"> Click Right Arrow to Like Recipe. Click Left Arrow to Dislike Recipe. </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
console.log({{displayedid}})
    window.addEventListener('keydown', (event) => {
        switch (event.keyCode) {
          case 37:
            // left arrow
            console.log("left arrow");
            $.ajax({
              type: "POST",
              url: "{{url_for('food.food_recommendation')}}",
              data: JSON.stringify({"key_pressed":"left", "displayedrecipe":{{displayed_id}} }),
              contentType: 'application/json;charset=UTF-8'
            });
            window.location.reload();
            break;

          case 39:
            // right arrow
            console.log("right arrow");
            $.ajax({
              type: "POST",
              url: "{{url_for('food.food_recommendation')}}",
              data: JSON.stringify({"key_pressed":"right", "displayedrecipe":{{displayed_id}} }),
              contentType: 'application/json;charset=UTF-8'
            });
            window.location.reload();
            break;
        }
    });

        function openModal(){
            document.getElementById("myModal").style.display = "block"
        }
        function closeModal(){
            document.getElementById("myModal").style.display = "none"
        }
        window.onclick = function(event) {
          if (event.target == document.getElementById("myModal")) {
            document.getElementById("myModal").style.display = "none";
            }
        }

</script>





{% endblock %}
