{% extends "base.html" %}
{% block meta %}
{% endblock %}
{% block title %}Swipe{% endblock %}


{% block content%}

<link rel="stylesheet" href="{{url_for('static', filename='infinite-scroll.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}">

<div class="card" style="width: 18rem;">
  <img onclick="openModal()" src="{{recipe.image}}" class="card-img-top" alt="...">
      <div class="quotes">
    </div>
  <div class="card-body">

    <h5 class="card-title">{{recipe.title}}</h5>

    <!-- <p>{{recipe.summary}}</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <p> {{recipe.summary}} </p>
  </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span onclick="closeModal()" class="close">&times;</span>
    <img id="contentImage" height="500" width="700" src="{{recipe.image}}" />
    <p id="content">Description: {{recipe.summary}}</p>
    <p id="ingredients">Ingredients: {{ingredients}}</p>

  </div>

</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
console.log({{displayedid}})
    window.addEventListener('keydown', (event) => {
        switch (event.keyCode) {
          case 37:
            // left arrow
            console.log("left arrow");
            $.ajax({
              type: "POST",
              url: "{{url_for('food.food_recommendation')}}",
              data: `{"key_pressed":"left", "displayedrecipe":{{displayedid}} }`,
              contentType: 'application/json;charset=UTF-8'
            });
            window.location.reload();
            break;

          case 39:
            // right arrow
            console.log("right arrow");
            $.ajax({
              type: "POST",
              url: "{{url_for('food.food_recommendation')}}",
              data: `{"key_pressed":"right", "displayedrecipe":{{displayedid}} }`,
              contentType: 'application/json;charset=UTF-8'
            });
            window.location.reload();
            break;
        }
    });

        function openModal(){
            document.getElementById("myModal").style.display = "block"
        }
        function closeModal(){
            document.getElementById("myModal").style.display = "none"
        }
        window.onclick = function(event) {
          if (event.target == document.getElementById("myModal")) {
            document.getElementById("myModal").style.display = "none";
            }
        }

</script>





{% endblock %}
