@font-face {
    font-family: 'Poppins';
        src: url('https://fontlibrary.org/assets/fonts/poppins/fed70e8826194d3ab847c777f43c10ea/731a28a413d642522667a2de8681ff35/PoppinsRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

/*popup portion*/
body {
 font-family: Arial, Helvetica, sans-serif;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 /* Modal Content */
.modal-content {
 background-color: #fefefe;
 margin: auto;
 padding: 20px;
 border: 1px solid #888;
 width: 80%;
}
 /* The Close Button */
.close {
 color: #aaaaaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}
 .close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}
/*end of pop up portion*/
 /*center the recipe photos*/
.card {
 display: grid;
 grid-template-columns: 280px;
 grid-template-rows: 220px 10px 100px;
 font-family: Tahoma, sans-serif;
 grid-template-areas: "image" "text";
 border-radius: 10px;
 box-shadow: 5px 5px 15px rgba(0,0,0, .3);
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 margin-top: calc(4% + 50px);
 /* background-color: #C17C74; */
}
 .card-title {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: -25px;
    margin-left: 10px;
}
 .card-img-top{
    grid-area: image;
    align-items: center;
    margin-top: 2%;
    margin-left: 1%;
}

button{
    position: absolute;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    margin-top: 100%;
    margin-left: 25%;
}

.struct{
    position: relative;
    font-family: 'Poppins';
    font-size: 10px;
    margin-top: -360px;
    left: 37%;
}